## Node modules
node_modules/

## Docker
Dockerfile
.dockerignore

## Git
.git/
.gitignore

## Enviroment variables
.env
.env.sample

## Read me
readme.md

## Visual Studio Code
.vscode/

## macOS DS_Store
.DS_Store